@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf') format('truetype');
}

@import './defaults.scss';

* {
    transition: 0.5s;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

.MuiRadio-root * {
    transition: all 0.5s, color 0s !important;
}

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Recursive';
}

.Header {
    display: inline-flex;
    align-items: center;
    text-align: center;

    h1 {
        margin: 0;
    }

    img {
        cursor: pointer;
        margin-left: 0.5rem;
        height: 1.15rem;
        width: 1.15rem;
    }

    .hintContainer::after {
        white-space: normal;
        width: 20vw;
    }
}

.BlastRequest {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    min-height: 90vh;
    padding: 5vh 0 3vh 0;
    box-sizing: border-box;
    border-radius: 1vw;

    &:hover {
        border-color: $primary;

        & > .Header {
            color: $primary;
        }
    }

    .lessMargin {
        margin-bottom: 2vh!important;
    }

    .inputField {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
        padding: 2vw;
        border: 3px solid black;
        border-radius: 0.5vw;
        min-width: 35vw;

        /*&:hover {
            border-color: $primary;
            
            & h1 {
                color: $primary;
            }
        }*/

        .rowInput {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin-bottom: 5vh;
            padding-left: 2vw;
            min-width: 90%;

            .MuiTextField-root {
                margin-right: 2vw;
                width: 45%;

                &.longTextField {
                    width: 100%;
                }
            }
    
            .MuiButtonBase-root {
                margin-right: 2vw;
                min-width: 30%;
                text-transform: none;
            }
        }

        .MuiTextField-root {
            width: 90%;
        }

        .MuiFormGroup-root {
            flex-direction: row;
        }

        [class*=hint--]:after {
            font-size: 0.9rem;
            line-height: 0.9rem;
        }
    }

    .errorMessage {
        color: $error!important;
    }

    .updateMessage {
        color: $primary!important;
    }

    .resubmitButton {
        width: 12vw;
        font-size: 1.2rem;
        text-transform: none;
        margin-bottom: 5vh;
    }

    .sendButton {
        width: 10vw;
        font-size: 1.5rem;
        text-transform: none;
        margin-top: auto;
        margin-bottom: 2vh;
    }

    .downloadButton {
        width: 10vw;
        font-size: 1rem;
        text-transform: none;
        margin-top: auto;
    }

    .imageResults img {
        display: block;
        max-width: 90vw;
        max-height: 30vh;
        width: auto;
        height: auto;
        // margin: auto;
    }

    .textOutput {
        min-width: 70vw;
        width: 100%;
        
        textarea {
            font-family: monospace;
        }
    }
}

.MuiButtonBase-root {
    text-transform: none;
}

.buttonError {
    border: 1px solid $error!important;
    color: $error!important;
}


// scroll indicator from https://codepen.io/chris_cook/pen/KaMXzE
.scrollIndicator {
    width: 1.5rem;
    height: 2.75rem;
    border-radius: 11px 11px 15px 15px;
    border: 3px solid black;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    margin-left: -13px;
    z-index: 9999;
    cursor: pointer;
}
  
.scrollIndicator span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 7px;
    border-radius: 4px;
    background: black;
    border: 1px solid transparent;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scrollIndicatorAnim;
    animation-name: scrollIndicatorAnim;
}
  
@keyframes scrollIndicatorAnim {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
}

.fadeIn {
    opacity: 1;
    transition: all 0.5s;
}

.fadeOut {
    opacity:0;
    width:0;
    height:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}